[2016-01-18 09:03] ogonzalezadell opened #1 "Could not load NIB in bundle, after install with cocoapods"
Hi, I switched form TSMessage to RMessage and when using it after pods installation I got the following error each time I call any of the Messages. It seems to fail loading de xib file. It happens in any call, for example:

[code]

I get the follwing error:

[code]

On the other hand I added the code manually and there are no issues. Does this happen to anybody else?

PS. Perhaps I should not rais

[2016-02-10 00:53] isadon commented on #1
Hi @ogonzalezadell Can you pull the latest changes to RMessageView and install the pod normal way and see if this issue still exists. I believe commit: 3d249a8 fixes your issue. Sorry for the wait been so busy with some other work.

[2016-02-15 02:23] nonotest opened #3 "PODSpec update"
Hello, could we update the podspec please :) otherwise we are stuck with the version that doesnt load the NIB properly hehe!

thanks!

[2016-02-15 08:15] nonotest commented on #3
thanks

[2016-02-15 08:15] #3 closed, assigned to nobody

[2016-02-23 15:33] isadon commented on #1
@ogonzalezadell been two weeks with no response. I will assume your issue has been closed as I believe it has.

[2016-02-23 15:33] #1 closed, assigned to nobody

[2016-02-29 11:02] ogonzalezadell commented on #1
Yes It works properly. Thaks

[2016-03-04 15:26] CZyMfnIPC opened #4 "crash in background dismissMessageView:completion:"
We have a crash in production, we are having a hard time reproducing it in test.

The scenario is we put up an RMessage with endless duration on our rootViewController. Sometime after going to background (possibly when coming back into the app), it crashes.

To fix it we have set a high value for the duration rather than "EndlessDuration" in our RMessage because "didMoveToWindow" calls extra code

[2016-03-06 18:58] isadon commented on #4
Thanks. Will look into it..

[2016-05-22 21:51] isadon commented on #4
Are you still having this issue? I would love to fix it but I can't reproduce it on my end either. I tried doing an endless duration on RMessage and then minimizing to the home screen then returning back but I'm not seeing a crash.

I went ahead and added a Modal Presentation View controller under "Present Modal" button of the Example Project for testing this issue, the commit for that is https://

[2016-05-23 01:49] CZyMfnIPC commented on #4
Unfortunately we were never able to reliably get the crash while testing to debug further. I will give your test project a try.

[2016-06-02 08:10] Slessi opened #5 "Typo in your README.md"
In your second example

[code]

`image` needs to become `iconImage`

Also in your `[RMessageView appearance]` example

[code]

needs to become

[code]

[2016-06-02 17:09] isadon commented on #5
Fixed. For the second example, a UIImage was provided since no support for buttons is yet included but will be coming soon.

[2016-06-02 17:09] #5 closed, assigned to nobody

[2016-06-02 17:10] isadon commented on #4
@CraZyMuffinIPC I will close this issue out. Please reopen if you can reproduce and some more info.

[2016-06-02 17:10] #4 closed, assigned to nobody

[2016-06-02 17:26] Slessi commented on #5
Not sure if I misunderstood or if you misunderstood, but readme references the label as `image:` but if you look at [RMessage.h:131](https://github.com/donileo/RMessage/blob/056e24c1d435bf17c96d47e024e406b79f004b07/RMessage/RMessage.h#L131) you will see the label written as `iconImage:`

[2016-06-02 17:29] isadon commented on #5
Oh :). No problem.. Thanks for catching that.. The README does need to keep up a bit better with the library, I'll try to take some time to check it better for any other errors and in the future. Will make this fix now.

[2017-01-15 21:09] ucerxxx opened #7 "Minimum deployment target"
Hi!

Is there any problems on iOS8? I checked on simulator - looks like everything is working.
So what was the reason for setting iOS9+ and is it possible to support iOS8, to use it with cocoapods?

[2017-01-15 21:23] isadon commented on #7
Hi @ucerxxx, I understand I may have made that move with too much haste. I made the minimum target iOS 9, simply because thats the target I want to support moving forward. Am I wrong in thinking that the higher deployment target will give me side benefits such as bug fixes, improvements and possibly better performance that Apple has include in the higher target? Is the iOS 8 install base significa

[2017-01-16 07:41] ucerxxx commented on #7
I think that if there is now troubles with running on lower versions - no reasons to neglect it. If you will encounter problems in future with newer iOS,  you can anytime set higher minimum deployment target. One more reason (imho) is that this is objective-c library, so it should target to older projects which can support older devices.

Anyway I would be grateful, because it will help at least m

[2017-01-24 03:21] isadon commented on #7
@ucerxxx Issue closing soon. RMessage 2.1.2 properly maintains support for iOS7 and higher, so make sure to upgrade to that. At the end of the day the main reason for keeping support for iOS7 at least for now is that it was incorrect of me to drop support for iOS7 yet not make this a major release ~ 3.x.x. Thanks and feel free to retest.

[2017-01-24 08:33] 9you opened #8 "Allow customize height of MessageView"
I'm using RMessage with just title, no subtitle, no icon, etc. But the default MessageView size too big for just one line of text. Can you provide any way to alter constraint constant or something similarly to change the height of MessageView?

Thank you very much.

[2017-01-26 07:24] isadon commented on #8
Noted.

[2017-01-26 07:24] #7 closed, assigned to nobody

[2017-02-03 23:50] isadon opened #9 "Implement Blur Code"
Allow RMessage to blur the background of what its presented over as originally intended in TSMessages. The blur tint color and opacity of the tint color should be customizable as well as the ability to toggle the blur per a json key in the design file. --Initial code is looking good.

[2017-02-03 23:53] isadon opened #10 "Look into how to allow RMessage to perform custom animations"
Initial thinking is to allow RMessage to be a view controller that is presented over other view controllers. Given this, we can look into possibly using the UITransitioningDelegate presentation flow to allow users of RMessage to implement their own custom animators.

[2017-02-03 23:59] isadon opened #11 "Generalize the icon that RMessage presents as a UIView and not an UIImageView"
Making the icon RMessage presents a UIView gives us freedom to present a UIButton, a UIImageView, and custom UIViews. This is better than the fixed type UIImageView that is expected to be an icon on the left of the RMessage title and subtitle message. We should also allow the user to dictate whether to present the icon/(custom uiview) to the left, right, top, or bottom of the the actual message.

[2017-02-15 01:50] isadon commented on #9
Implemented blurring of the background through use of the backgroundColorAlpha and blurBackground keys. See commit https://github.com/donileo/RMessage/commit/820a257da827ae1ab3fb851af0d5af409e382ec0.

[2017-02-15 01:50] #9 closed, assigned to isadon

[2017-02-15 02:03] isadon commented on #8
@9you Can you retest this issue on the latest HEAD. Think it should be good now. Only thing I'm noticing is the actual title label is always left aligned. In messages with a title and subtitle left align seems perfect. For singular messages (no subtitle) it would be nice to allow for center aligning it + right aligning it 🙄 .

[2017-02-16 06:46] 9you commented on #8
@donileo Thank you very much. It seem nearly perfect. 👍

![screen shot 2017-02-16 at 11 43 22 am](https://cloud.githubusercontent.com/assets/16769449/23010427/f9cfae9e-f44d-11e6-91d5-afa49ba7b76c.png)

[2017-02-23 00:20] dexcell opened #12 "Carthage support?"
It would be nice if we have carthage support. Thank you

[2017-02-25 05:05] linlinyao1 opened #13 "Can not manually drag and drop into projects"
it requires two dependency "HexColors" and "PPTopMostController"

[2017-03-06 13:28] Rjmaurya13 opened #14 "Its covering entire screen."
RMessagePositionNavBarOverlay showing on entire screen.

[2017-03-07 00:10] isadon commented on #14
Can you provide more details on this issue? What kind of device, what kind of orientation? How are you invoking the call to display RMessage? As far as the test project presenting with RMessagePositionNavBarOverlay doesn't show on the entire screen.

[2017-03-07 00:11] isadon commented on #13
Hmm, why is that a problem? Plenty of projects have dependencies. If you are manually dropping in RMessage, you should drop in its dependencies (if not already in your project) to ensure a successful build.

[2017-03-07 00:11] isadon commented on #12
Will do, will do :).

[2017-03-07 00:12] isadon commented on #8
Closing issue. Will provide more details down the line if some more customization options for the specific size of RMessage are provided.

[2017-03-07 00:12] #8 closed, assigned to isadon

[2017-03-08 14:44] weibel opened #15 "Is button title doing anything?"
I put in a button title, but no button showed up.
By looking through RMessageView the button title does not seem to be used. Am I correct?

[2017-03-08 14:51] isadon commented on #15
Correct :). Currently RMessage does not support embedding a button even though the methods allow a button title /callback to be passed in just like in the original TSMessages. Passing in those two parameters will do nothing as of now.

I have implemented embedding buttons in the feature branch feature_button but that wont be merged till a future RMessage 3.0.0 considering its an API breaking chang

[2017-03-08 14:55] weibel commented on #15
Thanks for the quick reply. I'll whip something up then.

[2017-03-08 14:55] #15 closed, assigned to nobody

[2017-03-14 22:43] francis-bware commented on #14
I was having this same issue and was able to solve it by adding a height constraint into setupLayout in  RMessageView.

[2017-03-15 00:43] isadon commented on #14
@shmozzle: details on reproducing this issue?

[2017-03-16 02:13] francis-bware commented on #14
It was using swift 3. Calling `RMessage.showNotification(in: viewController, title: "title", subtitle:  "subtitle", type: RMessageType.normal, customTypeName: nil, callback: nil)` from a tabbarcontroller

[2017-03-16 13:57] isadon commented on #14
Are you seeing this issue directly on a device or the simulator, if so what device? Also were you seeing this all the time (easily reproducible) or intermittently? Can you also pull the latest and see if it still occurs? Trying to to reproduce this issue but not seeing it on my end.

[2017-03-16 14:02] #13 closed, assigned to nobody

[2017-03-16 21:06] francis-bware commented on #14
It was on device. It was happening every time I tried to display one. I'll revert my code back and try and get a screenshot for you in  a little bit.

[2017-03-17 11:57] isadon commented on #14
I think its possible this is a bug that was fixed post 2.1.2. When you reproduce this issue on your device can you pull the latest from the master branch and see if you still see the issue?

[2017-03-21 22:50] isadon commented on #12
I believe I have Carthage support working. Can you please pull branch 3.0.0 and test integrating RMessage as a framework into your project? Note: It wont exactly be drop in as 3.0.0 has api breaking changes.

[2017-04-01 07:11] mohakshah opened #16 "Which one should I use: RMessage or TSMessages?"
After looking at [this conversation](https://github.com/KrauseFx/TSMessages/issues/261) I am a little unsure of which repo I should use in my app. I would rather not end up integrating the wrong one in my project only to find out you'll be working on the other. Advice?

[2017-04-01 11:02] isadon commented on #16
TSMessages is no longer maintained/supported and RMessage is. RMessage is a fork/rewrite of TSMessages with various improvements and bug fixes. It is recommended you migrate to RMessage but keep in mind version 2.x.x doesnt support integrating UIButtons, that's coming in 3.0.0 which you can test and play with in the 3.0.0 branch.

Please see the README for more info.

[2017-04-01 11:24] #16 closed, assigned to nobody

[2017-04-03 12:49] tobitech opened #17 "How can I display message over application Window"
I'm trying to display a message over the application window but can't except I use "shownotification onViewcontroller" but in my app delegate I can't know the view controller that the app is currently on. I want to use this to display message when user receives notification when app is in foreground

[2017-04-03 13:25] isadon commented on #17
For when you want to present on the topmost/current view controller in the window dont use the function calls that ask for a view controller. Those are for when you know which view controller you want to present in. Use the non-viewcontroller presentation calls.

[2017-04-04 13:54] #17 closed, assigned to nobody

[2017-04-06 11:51] pmagnussen opened #18 "Crash on presentMessageView"
We have a crash on presentMessageView that we can't quite wrap our head around.

Here are two screenshots from the stacktrace.

<img width="960" alt="screen shot 2017-04-06 at 12 52 42" src="https://cloud.githubusercontent.com/assets/1857224/24752832/e41b583e-1acf-11e7-95c9-0aee481e7099.png">
<img width="958" alt="screen shot 2017-04-06 at 12 52 27" src="https://cloud.githubusercontent.com/assets/

[2017-04-06 12:00] pmagnussen commented on #18
I branched out and made the change, but I don't have permissions to push.

[2017-04-06 12:18] isadon commented on #18
Delegate properties should always (barring special circumstances) be weak so yes this is something that will be fixed. Hopefully that should resolve your crash.

Update: Interestingly enough the reason why its assign (I always make my delegates weak) is because of RMessage having initialized its codebase from TSMessages, TSMessages has it the way it is now, "assign" hmmm...

[2017-04-06 12:19] pmagnussen commented on #18
I tried setting it to weak but could still reproduce the crash :/

[2017-04-06 12:26] isadon commented on #18
Are you changing your delegate in the middle of presentation or clearing the delegate anywhere. Anything interesting you may be doing in your code? After setting the property to weak can you clear your derived data and rebuild your project? Reset the simulator as well if need be.

[2017-04-06 12:51] pmagnussen commented on #18
I haven't found anything particularly interesting yet - still trying to find the exact steps to reproduce the issue. Right now I can only reproduce it semi-randomly.

Could you change it to be a weak reference none the less?

[2017-04-06 12:52] pmagnussen commented on #18
I'll try clearing derived data now and see what happens.

[2017-04-06 13:04] pmagnussen commented on #18
I think clearing derived data did the trick. I can't seem to reproduce it anymore.

So to sum up: setting the delegate to weak should resolve this issue.

[2017-04-06 13:08] isadon commented on #18
Yup. I dont know why the original TSMessages had the property set to assign but there is a very crucial fundamental difference between assign and weak in the instance of a delegate property. When set to assign if the delegate becomes deallocated the property would be pointing to garbage (bad) while when its weak the property becomes nil which is the correct implementation.

[2017-04-06 15:05] pmagnussen commented on #18
Thanks for fixing this so quickly.

[2017-04-06 16:35] #18 closed, assigned to nobody

[2017-05-17 17:15] AndreyEgorovCSI opened #19 "Rotation"
Hi. It seems I found an issue with rotation. Here is a [video](https://www.dropbox.com/s/gmbjqkfr6llrm01/rotationIssue.m4v?dl=0). I just created a new project and add a navigation controller.

[2017-05-17 17:24] isadon commented on #19
Yup! Will work on a fix soon :).

[2017-05-30 20:04] isadon commented on #19
@AndreyEgorovCSI Please pull the latest master and test, commit f42acf1f1248ff8fbaf62bb651354cf235655cea should fix this issue.

Make sure to call [RMessage interfaceDidRotate] in:
[code]
in the viewController where rotation is happening. For an example please take a look at the DemoViewController.m code.

[2017-05-31 14:06] #14 closed, assigned to nobody

[2017-06-06 00:36] riyanpratamap opened #20 "Positioning RMessage"
Hi,

[code]

By calling showNotificationWithTitlte, I got notification under navigation bar. Is that possible to create notification in front of navigation bar? Thank you!

[2017-06-06 00:54] riyanpratamap commented on #20
Sorry my bad, didn't run the example first. Just use `RMessagePositionNavBarOverlay`. Here is the solution example.

[code]

Thank you so much!

[2017-06-06 00:54] #20 closed, assigned to nobody

[2017-06-20 09:26] Mijail commented on #12
For me it doesn't work, it doesn't find a specific .h when importing in a swift project. Seems it is private.
![screen shot 2017-06-20 at 11 23 18](https://user-images.githubusercontent.com/5363842/27326120-e2ba2a54-55aa-11e7-8f5c-10cdda6781c6.png)

![screen shot 2017-06-20 at 11 23 45](https://user-images.githubusercontent.com/5363842/27326149-ff612fd6-55aa-11e7-8ea2-c98b9560e3a2.png)

Moving it

[2017-06-23 13:04] isadon commented on #12
@Mijail Thanks. 0e9e4b47161cbfd15d8da283aeeb2425a4c40942 should address this.

[2017-06-23 13:06] #19 closed, assigned to nobody

[2017-06-29 07:37] pkc456 opened #22 "update the title of RMessage (Countdown scenario)"
I want to use RMessage to show countdown. How can I update the text of visible RMessage?

(For e.g.:- In temple run game, while resuming it shows 3..2..1. In similar fashion, I want to use RMessage and update the text)

[2017-08-03 07:01] Vanilil opened #23 "issue with UITabBarController"
I have an issue with the positioning of RMessages in UiTabBarController.

![simulator screen shot 3 aout 2017 a 08 54 05](https://user-images.githubusercontent.com/6389921/28909806-48054136-782a-11e7-90fd-a35c97fd6b8d.png)

[2017-08-04 19:01] isadon commented on #23
Can you give any more details in reproducing this bug? Does it always occur?

[2017-08-07 11:55] Vanilil commented on #23
I use this line of code to show RMessage :
<pre> "[RMessage showNotificationWithTitle:NSLocalizedString(@"TITLE_ALERT", @"") subtitle:NSLocalizedString(@"MSG_ALERT", @"") type:RMessageTypeError customTypeName:nil duration:10 callback:nil];" </pre>
It always occur when i tried to show it on an UITabBarController.

[2017-08-14 08:29] Vanilil commented on #23
It works better if I use showNotificationInViewController to specify the viewcontroller in which I want to show RMessage.

[2017-08-18 07:44] isadon commented on #23
@Vanilil sorry for the wait in responding, been really really busy with some life things :).

Normally RMessage expects to be presented directly under a UINavigationController. In situations where you may be presenting in some more complex view hierarchies such as when presenting in UITabBarController which is embedded in a UINavigationController you should be explicit and tell RMessage to present

[2017-08-18 08:20] Vanilil commented on #23
Ok, Thanks for your answer. I'll tell explicitely which viewController I want.

[2017-08-18 08:20] #23 closed, assigned to nobody

[2017-09-11 04:04] #12 closed, assigned to nobody

[2017-10-03 07:11] fukemy opened #26 "[UIColor hx_colorWithHexRGBAString:string alpha:alpha] method not found"
Hello i drop and drag project then got this problem. plz help
![screen shot 2017-10-03 at 14 11 06](https://user-images.githubusercontent.com/8202437/31113730-c9de624c-a844-11e7-8050-f4ed8bda9855.png)

[2017-10-03 07:18] fukemy commented on #26
okey it done by use [UIColor colorWithHexString:string alpha:alpha]

[2017-10-03 08:25] fukemy opened #27 "center text and icon"
Hello i need center text and icon, and i can modify height of notification view. plz help me how can i do that
![screen shot 2017-10-03 at 15 24 33](https://user-images.githubusercontent.com/8202437/31116125-1f7e0144-a84f-11e7-916c-f2b4b11e7e5e.png)

[2017-10-03 18:20] isadon commented on #26
If you are importing the project manually you must add its dependencies. In the case above you must also add HexColors into your project.

[2017-10-04 23:25] isadon commented on #27
@fukemy Please do the following to get the functionality as above:

1. Use the develop branch, the current master branch does not have this new functionality which requires that the title and subtitle labels don't expand to use all the available superview width.
2. Set [[RMessageView appearance] setTitleSubtitleLabelsSizeToFit:YES] in your viewDidLoad (this toggles the functionality mentioned in s

[2017-10-04 23:27] #26 closed, assigned to nobody

[2017-10-07 07:10] fukemy commented on #27
great work! Thanks you

[2017-10-14 00:42] #27 closed, assigned to nobody

[2017-11-22 16:01] tspent opened #28 "callback after dismiss?"
Is it possible to know when the popup is dismissed after the duration? ( Without user tapping)

[2017-11-23 10:42] docash59 commented on #28
and also when user dismisses the notification from swiping up the notification?

[2017-11-23 11:25] docash59 opened #29 "Button on Notifications Not Present"
I have just moved over to TSMessage to RMessage and the buttons on the notifications are not visible. I took a look on the example project and yet they aren't present on those either.

Heres my code:
[code]
That produces this but no button is visible:
![img_e3241](https://user-images.githubusercontent.com/4446692/33170360-fa0b5c9a-d03f-11e7-8f0f-232fb286d007.JPG)

[2017-11-23 11:39] isadon commented on #28
Hi, the time RMessage takes to dismiss is as follows:

Time to animate on screen: 0.3s
Time to dismiss after being fully on screen: 1.5s + 0.04 * the height of the message window. This pretty much dictates that longer messages allow the user more time to read them.

@docash59 not sure I understand. If the user swipes up the message is gone.

[2017-11-23 11:46] isadon commented on #29
This is expected, as per the README, the button functionality is not enabled unless you are on RMessage 3.x. Yes you can pass a button in in the calls. No it will not work unless on 3.x.

[2017-11-28 07:21] #29 closed, assigned to nobody

[2017-12-01 11:34] tspent commented on #28
@docash59 When the user is tapping the view, the callback get called. I asking for a callback when the popup is dismissed after the duration expired.

Example -> An error popup animating on the screen and we need some action when the popup is dismissed without user interaction!

In that case the code is calling [dismissWithCallback:nil];

[2017-12-01 14:15] isadon commented on #28
@tspent you are correct. I should have a fix up soon.

[2017-12-02 09:43] fukemy commented on #14
u can use in appdelegate : self.window.rootViewController.

[2017-12-02 19:49] isadon commented on #14
@fukemy Can you provide more details? Are you saying this bug still exists? If so give more details as to how to reproduce exactly.

[2017-12-02 19:54] isadon commented on #28
So an update: Whats going on is that the callback block argument is specifically for when the user "taps" on the message. Even then the implementation prior to https://github.com/donileo/RMessage/commit/b04c6a489a17baa5df2a4e1da31c94b82cb9ff05 is that the tap callback gets executed **_after_** the message dismisses as a _result_ of a tap.

https://github.com/donileo/RMessage/commit/b04c6a489a17baa

[2017-12-05 07:02] fukemy commented on #14
hello. I just see all question for find my answer that I faced, now it done.
 Also, your lib is great, very thanks u.

[2017-12-05 11:31] dtomicAZ opened #30 "Align title vertically when subtitle is nil"
Hi,

@donileo Could you please align title to be vertically centered when subtitle is not presented, thank you.

[2017-12-05 12:25] dtomicAZ commented on #30
@donileo I found this issue:
https://github.com/donileo/RMessage/issues/27

I set develop branch:
pod 'RMessage', :git => 'https://github.com/donileo/RMessage.git', :branch => 'develop'

I am using swift and I can't set value, I tried like this:
RMessageView.appearance().titleSubtitleLabelsSizeToFit = true

but get this error:
Value of type 'RMessageView' has no member 'titleSubtitleLabelsSizeToFi

[2017-12-05 19:58] isadon commented on #30
@dtomicAZ I just tried the same thing as you in a Swift project. Works for me. Make sure you add "import RMessage" at the top of your file. Also your podfile should have "use_frameworks!" at the top.

As for vertical alignment of the title when there is no subtitle: that already happens when you set the  titleSubtitleLabelsSizeToFit to true.

[2017-12-06 07:21] dtomicAZ commented on #30
@donileo I cleaned project and it is now working.

Now it is centered vertically, but also it is centered horizontally.
Can it be only centered vertically ? (and keep horizontally alignment left)

[2017-12-06 09:22] isadon commented on #30
Can you post a picture or what you want the message to look like? Thatll help me explain how it can be done.

[2017-12-06 09:28] isadon commented on #29
@docash59 I added button functionality to the develop branch. Now you can pass in a button via the parameters. Much more customizeable buttons can be passed in via the customizeMessageView delegate function and the setButton call on RMessageView. Please test!

[2017-12-06 11:55] dtomicAZ commented on #30
Actually it is ok, looks like it's looking better when is both vertically and horizontally aligned.

Thank you for your help.

[2017-12-06 11:55] #30 closed, assigned to nobody

[2017-12-07 08:07] isadon commented on #22
Not sure if you ever resolved this but how about adding a custom UIButton that animates and set endless on the duration type for the message. Button support was just added to the develop branch recently.

[2017-12-11 23:35] #28 closed, assigned to nobody

[2017-12-14 07:16] #22 closed, assigned to nobody

[2017-12-14 16:30] docash59 commented on #29
That great thank you @donileo!
I will give it a test later.

[2018-01-02 08:50] ycwjjjj opened #31 "iOS 11 - (maybe iphoneX) no response"
The customised push can be shown on top while in iPhone 6 plus, 5s, etc. but it is no showing the customised push while in iPhoneX.
While the customised push can be shown while the phone is connecting to Mac with Xcode is compiling.
The app is detecting push on appdelegate.m inside method didReceiveRemoteNotification:fetchCompletionHandler: for all cases.

Using Xcode 7.3.1.
RMessage Release 2.1.5

[2018-01-02 19:48] isadon commented on #31
Can you get on develop? There are various fixes on that branch that may affect whether RMessage displays properly on the X. I tested with develop on the X and though I'd say it doesn't look exactly how I want on the X it does work.

[2018-01-03 05:57] ycwjjjj commented on #31
Thanks Donileo for quick reply.
I will test on the "develop" branch. Since I have to stick to use Xcode 7.3.1 for other needs. Hope the develop version can work. I will get back to you soon.
How about if I use your release 3.0.0? Is it work fine in iPhone X? I will test on it as well.
Thanks!

[2018-01-04 04:32] ycwjjjj commented on #31
I have tested on release 3.0.0 on my app and using Xcode 7.3.1 to build.
Result not OK.
In-app push doesn't show up in iPhone X , another iPhone 6s plus( ios 11) while the in-app push can show up in iphone 5s, 6s plus (both are ios 10).
The strange part is that when this iPhone X is attached to Mac and using Xcode(7.3.1) to run the app in this real device. At the time the phone is still linking to

[2018-01-04 10:52] ycwjjjj commented on #31
Thank you for your support.
It should not be related to your release and should be the issue in "Capabilities" inside "Target", "background modes" has not been enabled and "Remote notifications" has not be checked in the project in xcode.
After enabled it, the app can receive push by using didReceiveRemoteNotification:fetchCompletionHandler while in foreground in iOS 11 and your RMessage shown.
Th

[2018-01-04 10:52] #31 closed, assigned to nobody

[2018-01-04 12:04] Bluesky13503 opened #32 "Above Controller"
I find it confusing for people to use it.
The Issue is, that a Notification is displayed onto of the current Content.
This should be a Subview in Navigationbar and pushes the content further down.

If you have a scroll list with Large Title and start to scroll the Large title becomes small and the notification is stuck in the upper part of the screen.

Wasn't able to solve it myself :(

[2018-01-04 15:34] isadon commented on #32
When you say stuck do you mean that you want the notification to scroll up with the scroll list? As far as how RMessage is presented remember originally it began as a fork of TSMessages so thats why its presented the way it is. There may or may not be better ways to do the presentation each with pros/cons. I can definitely look into possible different presentation methods for the future.

Can you

[2018-01-04 15:36] isadon commented on #31
Glad you resolved the issue. Yes for the sample project some capabilities may or may not be turned off.

[2018-01-04 15:40] Bluesky13503 commented on #32
Do you have an email address i can send it to?

[2018-01-04 16:05] isadon commented on #32
I think github allows you to add the files here.

[2018-01-04 16:07] Bluesky13503 commented on #32
I did a video right of the phone ;) that’s why! I can’t a a video here ;(

[2018-01-04 22:18] isadon commented on #32
Oh :). Unfortunately I can't provide a personal email address. Simply upload the video to some public video service and post a link here so that I may see.

[2018-01-04 22:21] Bluesky13503 commented on #32
![7aec9b1d-26a2-439c-b056-88f8f2efd69e](https://user-images.githubusercontent.com/2928506/34586827-ef54cf0c-f1a5-11e7-86d1-59505905b7c7.png)

[2018-01-04 22:22] isadon commented on #32
So can you describe in good detail the actual problem? What is it that occurs exactly?

[2018-01-04 22:22] Bluesky13503 commented on #32
Check this out

![7b7f7421-0af1-4c7b-93ea-28ee0c3857b4](https://user-images.githubusercontent.com/2928506/34586870-2119158e-f1a6-11e7-97e7-2f95c5367718.jpeg)

[2018-01-04 22:24] Bluesky13503 commented on #32
Well you have large title from iOS 11 enabled, then notification kicks in, the user start scrolling!
Then this happens.

[2018-01-04 22:26] Bluesky13503 commented on #32
Check this out....    https://drive.google.com/open?id=1eGbWGnJA60HsR7zCR2u_iB-Q0WOyuhBi

[2018-01-04 22:35] isadon commented on #32
Ok yea. I see it. As far as how it presents before the scrolling is that a navigation bar up where the title is? In other words the view right above the notification is a navigation bar? If it is then I'm assuming the initial presentation of the notification is correct as its supposed to present under the nav bar. The position after scrolling would be the issue. If my assumptions are correct about

[2018-01-04 22:39] Bluesky13503 commented on #32
Well, yes the issue is about the behavior when you start scrolling. Well dismissing the notification is a solution. But what happens if the user starts scrolling immediately?
This would be no good user experience.
Better would be the the notification would be part of the navigation bar itself.

[2018-01-04 23:31] isadon commented on #32
Hmm. I will look further into this.

[2018-01-07 21:45] isadon commented on #32
Can you pull the pin_to_navbar branch and tell me if it resolves this issue for you?

[2018-01-08 09:20] Bluesky13503 commented on #32
Problem Solved with "Pin_to_NavBar" :)

[2018-01-09 03:21] isadon commented on #32
Thanks for the bug report. You can go ahead and use develop now as that feature branch will be deleted.

[2018-01-09 03:21] #32 closed, assigned to nobody

[2018-01-25 13:35] dtomicAZ opened #34 "Crash"
I updated my pods and I get this error:
Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSPlaceholderArray initWithObjects:count:]: attempt to insert nil object from objects[0]'

as this line 986:
[messageNavigationController.view insertSubview:self belowSubview:messageNavigationController.navigationBar];

I have this in my pod file:
pod 'RMessage', :git =>

[2018-01-30 08:20] isadon commented on #34
Are you still getting this error? Sorry for the delay, will look into it soon.

[2018-01-30 08:23] dtomicAZ commented on #34
@donileo yes, currently I am using :commit => '7cda71e' which doesn't have this issue.

I forgot to mention, this bug appears second time message want's to show up.

[2018-01-30 08:25] isadon commented on #34
Ah ok, yea that little detail should make it easier to debug. As far as the commit you are using is that how far you had to go to not get the crash? In other words two commits before the latest still gives you the crash?

[2018-01-30 08:31] dtomicAZ commented on #34
Well, I don't know, I think I tried few commits before newest and still bug was there.

I then compared number of line of version I had before updating pods and found that '7cda71e' was good one.

[2018-01-30 18:51] isadon commented on #34
Anything specific about how you are presenting RMessage? Cant seem to duplicate this crash in the example project.

[2018-01-31 07:20] dtomicAZ commented on #34
[TestRMessage.zip](https://github.com/donileo/RMessage/files/1680724/TestRMessage.zip)

Here you go, I am sending you example project where crash is happening.

Maybe titleSubtitleLabelsSizeToFit property has something with this bug.

[2018-01-31 20:44] isadon commented on #34
Hi,

Thanks for the submission. In the end the issue was mostly due to an existing UIAppearance bug. Commit 2154792c1d62905c1a245980c6c1fcbc0f3358ba on develop fixes this issue. Can you please pull and retest?

Update: aa82d58d5f45d07cb38768321c538f886c23c9f0 also applies to this issue.

[2018-02-02 10:43] alper opened #35 "A bunch of crashes on live"
Maybe this is related to #34 but after deploying the app on live we are getting three crashes in Crashlytics. Testing on various devices locally didn't turn anything up.

I'll add the three stacks which seem to center around `_findCommonAncestorOfItem:andItem` and `_setActive:mutuallyExclusiveConstraints`.

[code]

[code]

[code]

[2018-02-02 15:49] isadon commented on #35
Are you on develop branch? Please know that the develop branch is more likely to be unstable and be more likely to crash as it changes faster. The latest commits on develop “should” fix issue #34. Keep in mind that issue #34 is still open as the submitter hasnt retested the fix yet.

If you absolutely need the changes in develop I would suggest you pull the latest changes on it and retest. Issue #

[2018-02-02 16:20] isadon commented on #35
A new commit: aa82d58d5f45d07cb38768321c538f886c23c9f0  related to issue #34 has been pushed to develop a few minutes ago so make sure you incorporate those changes if you missed them.

[2018-02-02 17:11] alper commented on #35
I didn't get those in this version but any indication that these have to do with each other?

Since I can't reproduce this locally oddly enough, I need to have some indication that that will fix the issue before pushing out another release.

[2018-02-02 20:36] alper commented on #35
Also, yes I'm on develop, some layout was off and I think **Refactor layout presentation code** fixed that. That was also more or less the first version we used.

Conclusion: I would love to take the latest develop version but I have no way of seeing whether that actually solves the problems without shipping a version to our users. Any ideas?

[2018-02-02 21:29] isadon commented on #35
Yea I understand. Unfortunately the problem is you can’t reproduce the problem. I have some ideas though.

You can check if issue #34 is what gives you your exact crash. Pull develop right before issue #34 was fixed. Induce issue #34 in your app by:

1. Looking in your code to see if you somehow set/call titleSubtitleLabelsSizeToFit multiple times. If you do, execute that code and check for the cr

[2018-02-02 23:27] isadon opened #36 "Add UI Testing to RMessage"
I've been looking to integrate some testing to RMessage, but given that its mostly a visual library the testing will have to be with XCUITest which I'm a bit iffy about since the UI Testing will be limited to only what the Example project can incorporate. Regardless some testing is better than none, but more extensive testing will definitely require the Example Project to be designed to allow for

[2018-02-04 18:08] isadon commented on #34
Any update on this issue is the crash fixed for you?

[2018-02-05 07:21] dtomicAZ commented on #34
@donileo Looks good now, thank you for the fix.

[2018-02-05 07:21] #34 closed, assigned to nobody

[2018-02-07 13:24] tspent commented on #28
Hey @donileo, is there any plan to release the changes? Don't want to get it from develop branch.

[2018-02-07 13:28] isadon commented on #28
There definitely is. The thing is that I want to truly start adding UI/Unit testing to RMessage before I merged the latest develop but haven’t gotten around to the tests. With more people using RMessage and future enhancements testing is becoming a must.

[2018-02-07 13:45] tspent commented on #28
Yes, that makes sense. For now though, I will have to fork.

[2018-02-07 13:46] isadon commented on #11
RMessage 3.0.0 already handles this.

[2018-02-07 13:57] isadon opened #37 "Pass as many styling parameters via configuration struct"
Use a well defined config struct to prevent super long RMessage calls.

[2018-02-07 14:04] isadon commented on #37
Closing issue. Using project todos instead of issues.

[2018-02-07 14:04] #37 closed, assigned to nobody

[2018-02-07 14:04] #11 closed, assigned to isadon

[2018-02-16 01:43] isadon commented on #35
Any update?

[2018-02-16 09:01] alper commented on #35
Had no time to go through this so as a quick fix (which was necessary) tore out the code.

[2018-02-16 09:01] #35 closed, assigned to nobody

[2018-02-23 01:54] tdksk opened #38 "Margins when a navigation bar is hidden are smaller than before"
I tried 2.2.0 and found that margins in a message view when a navigation bar is hidden and a sub title is empty are different from 2.1.5. I like the layout in 2.1.5 because it has enough margins. Is this supposed to be this layout in 2.2.0?

2.2.0 | 2.1.5
--- | ---
![simulator screen shot - iphone se - 2018-02-23 at 10 41 40](https://user-images.githubusercontent.com/2177378/36574096-56f194a8-1887

[2018-02-23 04:11] isadon commented on #38
Thanks! I will release 2.2.1 to fix this issue. Can you pull develop and tell me if that looks a lot better? I notice the bottom margin isn't exactly the same but that’s because there was a bug where when specifying nil for a subtitle the label for the subtitle would still be on the notification just hidden hence giving a margin of 15 in the bottom in Release 2.1.5 versus 10 which is correct now i

[2018-02-23 05:08] tdksk commented on #38
I tried develop branch and it looks good to me! I understood that the bottom margin in 2.2.0 is exactly correct. Thanks!

[2018-02-23 05:10] isadon commented on #38
@tdksk I have pushed out the hotfix release: 2.2.1 to fix this issue. If you are using cocoapods feel free to do a pod update RMessage to get it.

[2018-02-23 05:18] tdksk commented on #38
I got 2.2.1 via CocoaPods. Thank you for your quick action!

[2018-02-23 05:18] #38 closed, assigned to nobody

[2018-02-23 12:18] dtomicAZ opened #39 "Crash"
Hi,

I again have crash of RMessage:
pod 'RMessage', :git => 'https://github.com/donileo/RMessage.git', :commit => '9e87b0d'

It's on the line 1127 of the RMessageView.m (self.topToVCLayoutConstraint.active = YES;)

Here I am sending you video where I am uploading files, then showing success message.
First file went well, but second got stuck. (Sometimes first got stuck)

I think it's something du

[2018-02-23 12:24] isadon commented on #39
Can you please send me an example project with this crash so that I may debug this issue?

[2018-02-23 12:40] dtomicAZ commented on #39
@donileo today I don't have a time. I am back to 7cda71e which is working good.

I'll try make example project in Monday.

[2018-02-26 09:51] isadon commented on #35
Hi @alper quick question what version of iOS was running on the device these crashes ocurred.

[2018-02-26 09:52] isadon commented on #39
Hi @dtomicAZ quick question: What version of iOS are you running when you get this crash?

[2018-02-26 09:54] dtomicAZ commented on #39
@donileo 11.2.5

[2018-02-26 09:55] isadon commented on #39
is this a crash you are getting through the simulator or a device running 11.2.5?

[2018-02-26 10:05] dtomicAZ commented on #39
@donileo both, on simulator, as well on device.

Here is use case:
user fetch list of documents,
then user upload some document,
then I show Rmessage,
then immediately after showing Rmessage I call API for fetch list of documents, which triggers tableview reload, and here crash happens.

[2018-02-26 10:15] isadon commented on #39
Ok, I still need the example project. Thanks.

[2018-02-27 10:48] alper commented on #35
I've got these crashes on all 11.0, 11.1, 11.2 versions and also on 10.0 versions. Devices are also all over the place.

[2018-02-27 11:01] isadon commented on #35
Ok. Unfortunately I can’t fix the issue on my end unless I can duplicate the problem. Given you got it ocurring so often can you send me an example project with the crash?

[2018-02-27 11:07] alper commented on #35
I haven't been able to reproduce it locally either let alone minimize it into a project…

[2018-02-27 12:16] isadon commented on #39
Are you presenting by passing in a viewController such as showNotificationInViewController? Can you paste here how you are presenting RMessage and in what method you are calling it? for example viewDidLoad, viewWillAppear?

[2018-02-27 12:24] dtomicAZ commented on #39
@donileo

[code]

I am calling it After I press button:
 request on server is made, response come, then I call method:

`func showAlert(title: String, subTitle: String?, type: AlertType)`

and after that I call `tableview.reloadData()`

[2018-02-27 12:55] isadon commented on #39
Can you use the showNotification method that passes in a view controller and pass in your top level view controller? Do you still get a crash? Without you providing me an example project or a lot more detail as to how to reproduce it will be hard for me to fix this issue.

[2018-02-28 04:00] isadon commented on #39
Can you please pull develop and tell me if the issue still exists for you? Its possible the crash is resolved but check to see if RMessage still continues working afterward.

[2018-02-28 07:53] dtomicAZ commented on #39
@donileo Now Crash is not occurring, that is great.

There is a small glitch sometimes occurring.

Check this video, at 6th second:
https://streamable.com/moxha

But it's important that Crash is resolved, this glitch is acceptable.

[2018-02-28 18:26] isadon commented on #39
Ok thanks. Like I said previously, can you present with showNotificationInViewController instead and tell me if the glitch exists? What most likely seems to be happening is that RMessage’s superview is being removed from it while it is trying to dismiss.

I may have have one more patch to help mitigate the issue more but if RMessage’s superview is getting removed while its presenting/dismissing th

[2018-03-02 12:20] dtomicAZ commented on #39
@donileo If I use:
RMessage.showNotification(in: self, title: "Dokument prilozen", subtitle: nil, type: .success, customTypeName: nil, callback: nil)

than all is ok, no glitch.

[2018-03-14 08:03] isadon commented on #36
Preliminary UI testing has been added in release 2.2.0. More test cases will be added on an as needed basis.

[2018-03-14 08:03] #36 closed, assigned to nobody

[2018-03-14 08:04] isadon commented on #39
If you are no longer getting a crash can you please close this issue? Thanks!

[2018-03-17 02:13] marcphk opened #41 "prefersStatusBarHidden iPhone X issue"
When setting prefersStatusBarHidden to true on a view controller on the iPhone X, it seems the RMessage notification's height doesn't extend below the notch like it does for VCs with or without navigation bars.

[2018-03-17 03:48] isadon commented on #41
Hmm, I’ll check it out.

[2018-03-17 07:15] isadon commented on #41
Please pull the latest develop and test. Commit 0ea73a4ad0c492e22c7c70279e26a1ad904aaa00 should fix this.

[2018-03-17 13:36] marcphk commented on #41
Fixed - thank you!

[2018-03-17 17:11] #41 closed, assigned to nobody

[2018-03-21 02:49] robertavram-md opened #42 "Allow RMessage to appear at the bottom of the screen"
Currently RMessage is always displayed at the top of the screen. Please update the code to position it at the bottom of the screen as well!

Thank you

[2018-03-21 05:22] isadon commented on #42
I’m not sure I understand. RMessage allows showing from the top or bottom though the top is the default if you use a call that doesnt specify a position.

[2018-03-22 09:04] nightfall708 opened #43 "View controller peeks at the top"
Hi,

It seems that when (spring) animating the message from the top, you can see the view controller on which we are presenting peek at the top for a brief moment. Has this been addressed before? supposedly the solution is making the height of the message window slightly higher.

[2018-03-22 09:16] isadon commented on #43
Can you post a gif or video of what you are describing?

[2018-03-22 10:06] nightfall708 commented on #43
Here: https://streamable.com/x5j02
I've slow-mo'd it

[2018-03-22 12:44] isadon commented on #43
Ok I see it. Yea, RMessage has done this ever since the animation was spring based which I think was since first release or very close to  first release. You could fork and essentially disable the spring animation or make the height longer to get the effect you are looking for but maybe the effect you want is not really what you want.

Functionality 2: With a bigger height and keeping the spring a

[2018-03-26 07:20] isadon commented on #42
Closing issue. Feel free to reopen if RMessage truly doesn't allow to present from the bottom.

[2018-03-26 07:20] #42 closed, assigned to nobody

[2018-03-26 07:21] #39 closed, assigned to nobody

[2018-03-30 15:34] fukemy opened #44 "blur effect not working in ios 11?"
Hello. After long time i write new project that need to include some notification view, then I used your library, thanks for great code.

 After run app in ios 11. I see the blur effect not working as expect. Plz see my attack  picture to see my problem.
 This image is captured from simulator. Then below is my setting
"warning": {
    "backgroundColor": "#FFCC00",
    "backgroundColorAlpha": 0.3,

[2018-03-30 17:54] isadon commented on #44
Can you try a different background color like red to test and see if the blurring is working?

[2018-03-31 04:05] fukemy commented on #44
Hi. Here is image with red color
![simulator screen shot - iphone 5s - 2018-03-31 at 11 04 19](https://user-images.githubusercontent.com/8202437/38159480-599d176e-34d3-11e8-90c6-1de3e657b003.png)
Here is my config:
"warning": {
    "backgroundColor": "#FF0000",
    "backgroundColorAlpha": 0.9,
    "titleTextColor": "#484638",
    "titleFontSize": 14,
    "subTitleFontSize": 12,
    "subTitleTextCo

[2018-04-01 07:13] isadon commented on #44
Hmm.. Its actually working fine for me in the simulator at least with iOS 11.3. Are you sure you are running iOS 11? Can you verify your deployment target and runtime of the simulator is greater than or equal to iOS 8? If possible can you send me a sample Xcode Project so that I can test the functionality?

[2018-04-02 14:38] Chemprogrammer opened #45 "How to add attributedString in the subtitle?"
It is a great work! Can I add some attributedString in the subtitle?

[2018-04-02 16:39] isadon commented on #45
The 3.0 branch allows you too but unfortunately it is a bit out of sync with the main master branch in terms of bug fixes right now due to the branches diverging. I plan on resolving that problem sometime soon.

[2018-04-04 10:50] harrytutorful opened #46 "Set icon color in custom designs JSON"
Hi there,

Is it possible to set the tint color for the icon inside of AlternativeDesigns.json?

I have checked the guide and it isn't there, but is it possible to do so without creating multiple coloured image sets? Would just be a good space saver for me because I use differently colored icons multiple times throughout my app.

Thanks!

[2018-04-06 02:51] isadon commented on #46
Will definitely look into this. Good idea!

Update: A quick look into this suggests to me that when enabling the feature in the alternative designs json the tint color will only apply to template images. So even if you have the feature enabled normal images (none-template) will be unaffected. Does that sound like what you'd expect?

[2018-04-06 03:56] isadon commented on #46
Commit 50cf0fea8a3ab50e29142f9e01cc0f78b0e3e3c9 should fix this issue. Please test and let me know of any issues. Make sure to set any icon images you want to "tint" to be template images in Xcode and then use "iconImageTintColor" property in your json file.

[2018-04-06 04:09] isadon commented on #44
Any update on this? Since I can't reproduce the problem can you answer the following:

What is your XCode deployment target?
Does the issue occur on Device or Simulator?
What version of iOS is running on the device or simulator?

[2018-04-06 04:16] isadon commented on #43
Hi @gerbil802 on my previous post which of the two functionalities is it that you expect. I tried looking at the animation generated by disabling the spring animation but as expected I find it really may not be what you are looking for. Here is a gif:

Functionality 1:
![rmessage-no-spring](https://user-images.githubusercontent.com/1881038/38403208-bb3f57f6-392f-11e8-8787-8cbc3f42029d.gif)

Functi

[2018-04-06 08:44] isadon commented on #43
Hi, please test the latest develop branch. Commit ab9bc68c339e should fix this issue and behave like  Functionality 2 as above. Normally I wouldn't make these kind of changes the default for everyone but I "believe" functionality 2 universally looks better than animating with the gap. If enough users request the old functionality I'll look into restoring it via some flag.

[2018-04-06 08:52] harrytutorful commented on #46
That's perfect, thank you so much! It seems to work perfectly from what I've tested 🥇

[2018-04-06 08:54] harrytutorful commented on #46
Also with regards to your update on your original comment, that is expected behaviour in my eyes, I only template images I want to tint, otherwise I probably want the original image because it has some special effects that need to be retained.

[2018-04-06 13:28] isadon commented on #46
Makes sense. I stated the functionality mainly as a form of documentation for other users. Closing issue..

[2018-04-06 13:28] #46 closed, assigned to nobody

[2018-04-07 08:42] fukemy commented on #44
Hello. I am stucking at other problem. So can read your post. I update 2 image about this problem
 First: alpha 0.6 blur 1
 Second : alpha 1 blur 1
"warning": {
    "backgroundColor": "#FFCC00",
    "backgroundColorAlpha": 1,
    "titleTextColor": "#484638",
    "titleFontSize": 14,
    "subTitleFontSize": 12,
    "subTitleTextColor": "#484638",
    "iconImage": "NotificationBackgroundWarningIcon.

[2018-04-08 16:43] isadon commented on #44
Unfortunately I can't reproduce. I tested on a iPhone 8 Plus and the simulator.

[2018-04-09 05:35] fukemy commented on #44
my solution is got notification and show notification based on self.window.rootView. Im trying to get rootViewController of stack and test

[2018-04-09 13:01] isadon commented on #44
Can you send me an example project containing the problem?

[2018-04-09 14:33] fukemy commented on #44
Hi. After I changed  to show Rmessage i topViewController like presented Viewcontroller. It working, show in self.window.rootView not working. It's my fault, sorry.

[2018-04-10 05:37] nightfall708 commented on #43
@donileo Yep, Functionality 2 is exactly what I wanted! I don't think it looks like the height is shrinking because the text layout is aligned to the bottom.

[2018-04-10 19:08] #44 closed, assigned to nobody

[2018-04-10 19:08] #43 closed, assigned to nobody

[2018-04-19 02:44] sssandyad opened #47 "RMessagePositionTop displaying not correctly when double height status bar"
Can I do something about this? I want to correctly display RMessage below Navigation Bar when double height status bar occurs

![simulator_screen_shot_-_iphone_4s_ios_9 3_-_2018-01-15_at_18 13 38](https://user-images.githubusercontent.com/6153272/38968545-1dcfa624-43b6-11e8-8e43-649a4459b0db.png)

[2018-04-19 02:56] isadon commented on #47
Probably not, But I can! :). Give me a bit of time to see If I can issue a fix. Kinda busy today so most likely tomorrow.

[2018-04-19 03:01] sssandyad commented on #47
thank you. I will wait for the good news from you @donileo :)

[2018-04-24 02:28] isadon commented on #47
@sssandyad Can you give more details on how to reproduce this issue. In the simulator I select Hardware-> Toggle In Call Status Bar to reproduce what you see above but RMessage displays fine under multiple scenarios.

[2018-04-26 10:17] sssandyad commented on #47
I created a new blank project to reproduce this issue. Please try the scenario when using UITabBarController @donileo
![screen shot 2018-04-26 at 17 02 21](https://user-images.githubusercontent.com/6153272/39300363-9e9e90a2-4975-11e8-8081-98f1f3f7cecf.png)

I put the testing project in this repo:
https://github.com/sssandyad/testRMessage

[2018-04-26 10:54] sssandyad commented on #47
looks like this issue has been solved in version `2.3.0` :)

[2018-04-26 10:54] #47 closed, assigned to nobody

[2018-06-05 15:24] harrytutorful opened #49 "[Issue] [iPhone X] Notification banner is too short, doesn't extend down far enough to display title."
Hi there!

I just started testing on iPhone X and noticed that the top banner (when no nav bar is present) doesn't extend down far enough to show the title and description properly.

This is obviously due to the weird new height measurements of iPhone X's nav bar but I was wondering if this is already a solved issue or if there's something I should be specifically doing to solve this?

Thanks!

Th

[2018-06-05 18:22] isadon commented on #49
Does the issue happen on the simulator or the actual device? Can you also post a screenshot?

[2018-06-06 08:31] harrytutorful commented on #49
![screen shot 2018-06-06 at 09 29 03 2](https://user-images.githubusercontent.com/35488004/41026384-55e9c0fe-696c-11e8-907b-821b3bcef825.png)

This is just on simulator, as I don't have an X to hand.

[2018-06-07 04:44] isadon commented on #49
Are you sure you are using the latest release? Can you please test on master and the develop branch and tell me your results.

[2018-06-08 11:51] harrytutorful commented on #49
Just tried develop branch, and I was already using master branch on 2.3.0.

Same result I'm afraid.

`pod 'RMessage', :git => 'https://github.com/donileo/RMessage.git', :branch => 'develop'`

[2018-06-08 16:40] isadon commented on #49
Can you post a sample project inducing the issue for you? That’s the quickest way for me to check why this issue occurs for you.

[2018-06-18 09:42] tspent commented on #35
Hey, @donileo We are facing the exact same crashes. We can't reproduce it.  Many occurrences in the live version. ios 9,10,11 and almost all iPhones. Didn't have the same issue before. Our last live version of our app it was using Rmessage 2.1.5 ( without any issue).

`Fatal Exception: NSGenericException Unable to activate constraint with anchors <NSLayoutYAxisAnchor:0x1c1c7c980 "RMessageView.top"

[2018-06-18 13:53] isadon commented on #35
Will definitely look more into this. I am going to try some scenarios to try to replicate this crash.

Update: Guys I think I have replicated the crash. Working on a fix now. Thanks for the detailed bug reports!

[2018-06-19 03:14] isadon commented on #35
I pushed a fix for this issue (commit e7af7d93) to develop. Can you guys pull develop and test?
A way to reproduce exactly this issue at least by the logs you guys have posted is to simply press the error button in the Demo view controller many times very fast (lets say 5). While 1 of the messages is on the screen tap to hide the navigation bar. That should induce the crash which you can test prio

[2018-06-21 08:02] tspent commented on #35
Hey, @donileo thanks for your fast response. I test a bit, everything seems to work. Can you create a new release with the fix?

[2018-06-21 19:23] isadon commented on #35
Hi @tspent can you give a bit more detail as to what testing you did? I just want to get a bit more confidence before I release considering you guys were the ones observing the crash.

[2018-07-16 07:15] afrizal7 commented on #49
I also experienced this problem. On iPhone X, when the navigation bar is hidden, the notification banner would not be displayed properly. I tested this on the simulator, and I use version 2.3.1.

[2018-07-16 07:53] sssandyad commented on #49
@donileo this can easily reproduce on iPhone X simulator while the navigation bar is hidden
![screen shot 2018-07-16 at 14 50 20 2](https://user-images.githubusercontent.com/6153272/42747773-ef6b78ac-8907-11e8-971a-7dde8a2d8b07.png)

while the navigation bar is not hidden, it would display correctly
![screen shot 2018-07-16 at 14 52 06 2](https://user-images.githubusercontent.com/6153272/42747800-

[2018-07-21 05:12] isadon commented on #49
@sssandyad I am not seeing this issue on my end. Can you guys send a sample project.

[2018-07-21 17:19] shaofuku opened #50 "How to reset all queued messages and the displayed view?"
Hello, there!

I have some queued messages and a displayed notification. Is it possible to reset all and then just show a new notification without dismiss for each messages I don't want?

[2018-07-21 17:20] isadon commented on #50
Not currently unfortunately but I have thought of this as an added feature :). Would definitely be a great feature. Any suggestions for how you expect it should work? Maybe a dismiss all button on all notifications when there are multiple in the queue?

[2018-07-22 02:22] shaofuku commented on #50
@donileo  Thanks for your reply.

My scenario is when a monitoring status changed, I can clear all the messages about old state
and dismiss the displayed view programmatically. Then re-send notifications about new state without showing the out of date messages.

[2018-07-23 09:11] sssandyad commented on #49
Hi @donileo,
After further investigation, I found out that the problem is from our own project. I solved it already :)
Thanks!

[2018-07-23 09:13] harrytutorful commented on #49
Oo @sssandyad what did you find to be the solution if you don't mind?

[2018-07-23 12:35] sssandyad commented on #49
@harrytutorful I created simple project (https://github.com/sssandyad/testRMessage) as an example to reproduce the bug. But as @donileo said, It can't be reproduced.

So I suspected the problem is from our side and it must be related to auto layout stuff and yet I am aware that there are some hacky codes to updating layout view in our project.

I found out that when the navigation bar is hidden, R

[2018-07-23 15:47] isadon commented on #49
@sssandyad Without any changes to your project (without the supposed fix you posted above). Who is the parent view of RMessage for you in your project in the case when the issue happens?

@harrytutorful Same question to you.

[2018-07-24 03:37] sssandyad commented on #49
@donileo it is the same as the sample project. The parent view is `view` from view controller
<img width="739" alt="screen shot 2018-07-24 at 10 33 49" src="https://user-images.githubusercontent.com/6153272/43115268-5a6ab4a8-8f2d-11e8-8e00-afd420da7ff0.png">

[2018-07-25 17:34] isadon commented on #49
Can you guys tell me what the ```safeAreaInsets``` property of your view controller's view is right before calling RMessage to present on it?

You can call a line like this to show what I need:
[code]

Also when are you calling RMessage to present in your view controller? RMessage depends on the safeAreaInsets property of your view to properly present and decide how big to size itself. But accordi

[2018-07-27 03:22] sssandyad commented on #49
@donileo in my case, the view controller has feature that when user scrolling down, it will hides navigation bar and when user scrolling up, it will shows the navigation bar. The problem is while RMessage is displaying and I scroll it up or down, the RMessage layout will be broken. My question is why RMessage parent view is different in case of show/hide navigation bar? Is that expected?

[2018-08-02 18:02] isadon commented on #49
@sssandyad I think your specific case is a bit more different. When RMessage presents it binds to the navigation bar using auto layout, given that in your scenario you are dynamically moving your Navigation bar around its most likely tripping RMessage somehow. This is most likely an RMessage bug but for me to fix it the fastest way would be to send me an Xcode project showing the issue. Doing this

[2018-08-04 07:05] isadon commented on #49
@sssandyad there should be some coming changes that will probably fix this soon!

[2018-08-04 23:11] isadon commented on #49
@sssandyad @harrytutorful  Ok. Please test develop and tell me if this issue still exists for you. I believe cf0473f3d6 should do something 😀.

[2018-08-06 09:56] isadon commented on #45
Attributed string support is coming very soon I believe. RMessage has been rewritten in Swift for 3.0.0.

[2018-08-08 05:06] isadon commented on #10
RMessageAnimator protocol has been implemented for version 3.0.0 at least preliminarily so. Closing issue..

[2018-08-08 05:06] #10 closed, assigned to isadon

[2018-08-09 10:37] sssandyad commented on #49
Awesome! It works like a charm. Thanks 😄 @donileo

[2018-08-19 10:12] isadon commented on #49
Closing Issue. If not truly fixed feel free to reopen.

[2018-08-19 10:12] #49 closed, assigned to nobody

[2018-08-22 12:55] jeromeMorjon opened #51 "notification showing several times"
Hello,
Is it normal when a use the following code:

[code]

it show multiple times. I call it in a notification observer and the code is called 2, 3 or 4 times instead of one...
Why ?

Thank you

[2018-08-22 18:15] isadon commented on #51
No it is not normal. Set a breakpoint where you are calling it to see why your notification method is being called multiple times. Most likely that is where the problem lies.

[2018-08-23 08:05] jeromeMorjon commented on #51
Ok.

When I put a breakpoint, i have the following thread list :

- method where I show the banner
- postnotification
- completionhandler
- network request
- method
- action

In the last stack trace i don't know why it show multiple times the method.
If i remove the show method, the problem does not happen again

[2018-08-23 22:18] isadon commented on #51
Again, you have to debug why your method is being called multiple times. If the method where RMessage is called to show is being called multiple times then obviously it will do exactly that. You have to be careful where you tell RMessage to show as that method may be called multiple times by Apple's frameworks and its perfectly fine for that to happen.

[2018-09-10 02:52] isadon commented on #45
Closing this issue, support for attributed strings can now be done by customizing the passed in RMessageSpec before displaying a message.

[2018-09-10 02:52] #45 closed, assigned to nobody

[2018-09-10 02:53] isadon commented on #50
Hi @shaofuku Please try the new version of RMessage, which allows cancellation of queued messages.

[2018-09-10 02:53] isadon commented on #51
Closing, if you can show that it is truly RMessage at fault of showing multiple times feel free to reopen.

[2018-09-10 02:53] #51 closed, assigned to nobody

[2018-10-02 03:06] #50 closed, assigned to nobody

[2018-10-19 06:51] svenniemann opened #53 "Display issues in UITableViewController on iOS 10"
Notifications are display below the Navigation Bar with empty space on top (that space should be behind the navigation bar I guess)

I use the Objective C version. So far this issue only appeared on iOS 10 in an UITableViewController. In UIViewController it works fine.

[2018-10-19 08:28] isadon commented on #53
Can you please post a screenshot?

[2018-10-19 08:36] svenniemann commented on #53
sure!

![simulator screen shot - iphone 7 - 2018-10-19 at 10 33 23](https://user-images.githubusercontent.com/1859415/47207123-ba56d300-d38a-11e8-9af4-42476150cc40.png)

[2018-10-19 19:07] isadon commented on #53
Does this happen on a blank slate project with a simple table view controller?

[2018-10-20 16:01] svenniemann commented on #53
I will check this asap. So, you could not reproduce it I guess?

[2018-10-20 17:24] isadon commented on #53
To be honest I haven’t had time yet to check. But considering you are reporting this, shouldn’t be hard for you to do 🙂.

[2018-10-21 12:10] svenniemann commented on #53
Just test it in a new clean project with just a tableviewcontroller in a navigation controller. Same result:

iOS 11 + 12 work fine

![simulator screen shot - iphone 7 - 2018-10-21 at 14 09 02](https://user-images.githubusercontent.com/1859415/47266745-0e081e80-d53b-11e8-9762-2d8324c65b31.png)

[2018-10-23 10:20] isadon commented on #53
I looked into this and will post a fix soon but I honestly believe this is an iOS bug.

RMessage uses the layoutGuide properties of its superview for sizing its height. By default tableViews have the property **automaticallyAdjustsScrollViewInsets** set to true which tells any container views such as nav controllers to inset the tableview to start below the nav bar.

The issue though is that the N

[2018-10-23 18:02] svenniemann commented on #53
Thanks for analysing the issue! I decided to use a different library (which also adds the banners to the UIWindow, so they always stay on screen). So you don't need to provide a fix just for me.
Would have used your new Swift version, but I need iOS 10 support.

[2018-10-23 19:28] isadon commented on #53
~~Yea I’m looking into making sure the messages stay on the screen as well. Whats interesting is some people (maybe not a lot) may want the message to get pinned to the view as it does now as animations look different that way.~~

~~The fix for this issue and “presenting on top” will be added soon. Thanks for reporting 👍.~~

**Update 10.23.2018.17.20.50** : Ok.. It seems that the issue with RMessa

[2018-10-23 23:03] isadon commented on #53
Bugfix added to 2.x.x_develop branch. Please retest.

[2018-10-24 07:14] svenniemann commented on #53
I will test it tonight.

With "... so they always stay on screen" I meant that they stay on screen when pushing or popping to another ViewController

[2018-10-24 07:27] isadon commented on #53
Cool. If RMessage is not picking the right view controllers view to add itself to use showNotificationInViewController:, you should be able to get it to stay behind.

[2018-11-02 23:48] isadon commented on #53
@svenniemann any update?

[2018-11-17 21:01] isadon commented on #53
Closing Issue..

[2018-11-17 21:01] #53 closed, assigned to nobody

[2019-01-09 09:09] PawanmSpaceo opened #54 "Title and Subtitle with Custom Font"
How to set the custom font to title and subtitle and also with font size?

[2019-01-09 12:56] isadon commented on #54
Please look at the README for how to create a Spec which is used for RMessage styling. The fields you want to set are titleFont and bodyFont.

[2019-01-10 08:59] PawanmSpaceo commented on #54
Thanks for answering

I can't able to find any Spec class or function. I'm using the latest version :(

[2019-01-15 12:44] isadon commented on #54
[code]

Please look at how the customSpec variable is created and then the fields are set.

[2019-01-16 04:07] PawanmSpaceo commented on #54
Use of unresolved identifier 'DefaultRMessageSpec'
Even I have written import RMessage

[2019-01-16 05:49] isadon commented on #54
Thanks, for letting me know I will check soon what the issue is.

[2019-01-16 10:00] PawanmSpaceo commented on #54
Let me know, once u solve that issue.

[2019-01-25 09:25] Dalein opened #55 "Crash"
I'm using RMessage (2.3.2).
I have a crash on line 508 in RMessageView.m with message:

`Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'NSLayoutConstraint for <UIView: 0x133d56730; frame = (47 10; 343.333 50.6667); autoresize = RM+BM; layer = <CALayer: 0x283758de0>>: Constraint items must each be a view or layout guide.'`

Call Rmessage like that:

`[RMessage show

[2019-01-25 12:24] Dalein commented on #55
It was because of custom layoutGuide in vc

[2019-01-28 14:35] isadon commented on #55
Is RMessage still to blame for the issue though? If so can you post the project to reproduce the issue?

[2019-01-29 16:14] isadon commented on #54
Hi, sorry for the long delay. Please use the develop branch and test if your issue now fixed.

[2019-01-30 04:07] PawanmSpaceo commented on #54
Thanks, Should I update the pod to use?

[2019-01-30 15:17] isadon commented on #54
To use the develop branch in your Podfile do:

Pod 'RMessage' , :git => 'https://github.com/donileo/RMessage.git', :branch => 'develop'.

Then see if it works for you.
--
Adonis

[2019-01-31 04:10] PawanmSpaceo commented on #54
You are awesome @donileo, it's working now
Thanks for solving the issue...

[2019-01-31 11:09] Dalein commented on #55
no, I think it can be closed. Sorry for disturbing

[2019-01-31 16:51] #55 closed, assigned to nobody

[2019-02-01 05:30] #54 closed, assigned to nobody

[2019-04-18 14:43] dominicfreeston opened #57 "Infinite loop when using automatic presentationViewController detection"
There's the risk of an infinite loop when using the automatic presentationViewController detection from a modal, like this: NavigationController -> Modal (via visibleViewController) -> NavigationController (via presentingViewController) -> etc

Creating this issue because I think useful for others to know about when evaluating the library, but potential fix is available in #56

[2019-05-03 17:20] isadon commented on #57
Thanks. Will get on the ball about this hopefully from today to this weekend. Sorry for the long wait..

[2019-05-09 02:19] isadon commented on #57
Commit 65b4db2 has been pushed to develop to fix this issue. Testing would be appreciated.

[2019-05-09 13:13] #57 closed, assigned to nobody

[2019-05-09 13:16] dominicfreeston commented on #57
It's essentially the same thing and the tests were updated the same way, so I don't doubt it's fine

[2020-01-23 16:08] nightfall708 opened #60 "Could not load NIB in bundle: NSBundle"
Hi,

I seems I've crashing in debug. I've updated to 2.3.2 but issue persists.
Also, if building a test flight the issue goes away. So this only concerns debug builds (consistently).

```*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Could not load NIB in bundle: 'NSBundle </Users/user/Library/Developer/CoreSimulator/Devices/31E95C45-5A85-4F22-B5C5-757E2

[2020-01-23 16:17] nightfall708 commented on #60
`use_frameworks!` in the Podfile seem to have solved it!

[2020-01-23 16:17] #60 closed, assigned to nobody

[2020-01-23 22:58] nightfall708 opened #61 "Assets are not shown on the default presets"
Hi,

I am trying to show a success message but can't get the image to show. Couldn't "SuccessMessageIcon.png" in the project folder.

Using pods and the latest (swift) version.

[2020-03-10 10:44] martin072 opened #62 "Could not load NIB in bundle: 'NSBundle (loaded)' with name 'RMessageView'"
Hi,

I recently updated an app that uses RMessage (which I am using for long time), however, some apps crash with the following message:

`Could not load NIB in bundle: 'NSBundle  (loaded)' with name 'RMessageView'`

Using it in iOS 13.3 on an iPad.

Any ideas?

[2020-03-10 11:24] isadon commented on #62
Will look into this today. Hopefully its something I can reproduce.

[2020-03-10 11:26] martin072 commented on #62
Well, I can't reproduce it as I have 2 different iPads (one iPad mini and one iPad Air), and on both of them it works fine, it's very occasional I get feedback with this error, so I don't really get it. I am using Pod's in my project, so I should have the latest version..

[2020-03-20 04:05] isadon commented on #62
@martin072 Can you pull develop and tell me if it fixes anything, even though I'm not expecting it to. Something I forgot to ask is what version of RMessage are you using? Based on your error message it seems your are using the 2.3.x version. There isn't any nib named RMessageView in the 3.x.x Swift version.

[2020-03-20 12:02] martin072 commented on #62
@donileo, the app is in a production state, pulling a developer version and releasing it would be a bit risky for me, further more it seems to be some isolated issues only, not at all reproducible..
I am using Pods, this was the output of the latest build:

 RMessage (2.3.2):
    - HexColors (~> 4.0)
    - PPTopMostController

(my project is in Objective C)

Hope this helps

[2020-05-05 05:24] zulfishah opened #63 "Demo project doesn't compile; downloaded as zip file"
Hi,
I downloaded the RMessage zip file for the project. When I try to compile the demo project in Xcode, I get the following error:

Is there a work-around for this?
Thanks.

[2020-05-13 08:07] gadgetboyme commented on #62
Hello,
I've come across this issue too.
I'm able to reproduce the issue when turning off mobile data and wifi.
It occurs when I call:
[ErrorMessage showConnectionError:self.navigationController
                         errorMessage:errorMessage
                            errorCode:errorCode
                        refreshMethod:]
It falls over in RMessageView.m, Line 269:
self = [[NSBundle bundle

[2020-05-15 00:57] isadon commented on #63
Can you please retry with the latest develop?

[2020-05-15 06:07] zulfishah commented on #63
It works with the latest 'develop' branch. Thanks!

[2020-05-15 06:07] #63 closed, assigned to nobody

[2020-05-15 17:16] isadon commented on #61
What version of RMessage are you using the 2.x.x series or 3.x.x? Please retest.

[2020-05-15 17:17] isadon commented on #62
Made some changes that I believe fix these issues. Commit for the change is 91188050b443ea6d0550d7cd008a57e2830c87a8. Please pull `2.x.x_develop` and test. If all seems ok I will go ahead and put out a 2.3.3 release. I haven't tested if these issues affect the 3.x.x series but will test that a bit later.

If you have issues testing these changes since I have not actually put out a new `2.3.3` Pod

[2020-05-24 02:55] sprtz opened #64 "May I ask you to add a 2.3.x release of Carthage?"
I still have users on iOS 9-10 ... I would be grateful

[2020-05-26 22:58] isadon commented on #64
The 2.3.x release didn't use carthage..

[2020-05-26 23:17] isadon commented on #62
Just released a new version (2.3.3) via Pod; easier to test the fix now.

[2020-06-02 20:26] #64 closed, assigned to nobody

[2020-06-03 17:19] tylerwilson commented on #62
I just did a pod update and it went to version 2.3.3. and when I ran I got the following crash:

[code]
as seen I am calling the following method for it to read my custom RMessageDesigns.json:

`[RMessage addDesignsFromFileWithName:@"RMessageDesigns" inBundle:NSBundle.mainBundle];`

Thought you should know. I reverted to 2.3.2 and working again.BTW, I would love to use the 3.x series, but this app

[2020-06-04 00:11] donileo commented on #62
If it was easier for me to test 2.3.2 this would be easier to fix. Unfortunately latest Xcode doesn't support build for iOS 7 which is the target 2.3.x series supports. Downgrading Xcode to something like Xcode 9 which does support 2.3.x requires me to run on something lower than catalina which I don't have a spare machine to do that with.

[2020-06-04 00:14] isadon commented on #62
Can you please clean your build directory and your derived data and see if this happens?. I am not seeing that error message when building with latest Xcode on my end.

`RMessageDefaultDesign.json` is now part of RMessage's bundle which is one of the code changes that was committed. Given your error implies its not part of RMessage's bundle tells me your build is probably dirty somehow..

[2020-06-04 13:23] tylerwilson commented on #62
Okay, cleaning did not work. But I did debug the code, and one issue is here: in 2.3.3 a static RMessageBundle property was added, but the init code fails to locate it properly. It fails on this line:

`  NSURL *resourceBundleURL = [appBundle URLForResource:@"RMessage" withExtension:@"bundle"];`

which then cause the lookup for the default json file to fail and then crash when trying to read.

in

[2020-06-04 13:31] tylerwilson commented on #62
Side question: what would be the possibility of lowering the iOS version requirement of RMessage 3.0 down to iOS 9.3? Are there iOS 11 specific features it is using?

[2020-06-04 14:49] isadon commented on #62
Lowering the requirement after its been declared for the 3.0 series isn't going to happen. That would be breaking the contract as far as what has already been declared for that release. The real issue is fixing this problem which is tedious on my end because I can't reproduce. On my end it works correctly on the latest Xcode 11 and iOS 13.5 runtime. I tried downgrading to Xcode 9/iOS 7.0 runtime i

[2020-06-04 16:32] tylerwilson commented on #62
FYI, I am running with Xcode 11.5 on an iPad 13.5 simulator. So not an issue with iOS 9..

[2020-06-04 16:36] isadon commented on #62
Ok, can you try the RMessage demo target and see if you get the crash there? Just run the demo and hit a couple of buttons and see if they show. If this issue is specific to integrating RMessage via a Pod then maybe that’s where I can reproduce.

[2020-06-04 17:24] isadon commented on #62
Ok, so just tested on a brand new Xcode 11.1 project with iPhone SE2 simulator, brought in RMessage 2.3.3 using Cocoapods. Using a RMessageDesigns.json file in my main app bundle via `[RMessage addDesignsFromFileWithName:@"RMessageDesigns" inBundle:NSBundle.mainBundle];`. Works perfectly on my end.

[2020-06-04 17:39] tylerwilson commented on #62
Just to be sure, you included:

`use_frameworks!`

in your Podfile?

I narrowed it down to this line:

`NSBundle *appBundle = [NSBundle mainBundle];`

which returns my main .app and so the next URLForResource will fail, since the resource is not a child. If I instead change that line to:

`NSBundle *appBundle = [NSBundle bundleForClass:[self class]];`

then everything works as expected. Thanks!

[2020-06-04 18:17] isadon commented on #62
Ahh. That’s definitely the problem. Please see https://github.com/CocoaPods/CocoaPods/issues/3226. Its weird that for me even without making any change and doing use_frameworks! it still works.

[2020-06-04 19:34] tylerwilson commented on #62
Great. Look forward to it. :-)

[2020-06-04 21:34] isadon commented on #62
@tylerwilson Ok can you point your RMessage pod to 2.x.x_develop branch now and retest? Make sure to clean your build directories if possible. Also, what actual XCode version are you using to build your app?

[2020-06-04 22:42] tylerwilson commented on #62
Okay, I updated my Podfile to:

`pod 'RMessage', :git => 'https://github.com/donileo/RMessage.git', :branch => '2.x.x_develop'`

updated, ran and all good! Thank you!

[2020-06-04 22:54] isadon commented on #62
@tylerwilson Thanks for the bug report. Will put out a 2.3.4 release sometime soon today or tommorrow hopefully.

[2020-06-05 20:36] isadon commented on #62
2.3.4 Release is now on Cocoapods.

[2020-06-05 21:28] tylerwilson commented on #62
Verified that all is working for me now with 2.3.4. Thank you!

[2020-06-19 14:54] isadon commented on #62
Closing this issue out as I believe it is fixed.

[2020-06-19 14:54] #62 closed, assigned to nobody

[2020-08-07 17:44] #61 closed, assigned to nobody

[2020-08-12 05:49] kishor010 opened #65 "Crashing the app in iOS 13."
In all the simulator and iOS 13 devices..
App is getting crashed says "nil" cannot insert (object) at index ......
I can not debug in simulator at all.
[code]

[2020-08-12 14:18] isadon commented on #65
Which line is the crash at?

[2020-08-12 16:15] kishor010 commented on #65
At line no. 4
[[RMessage sharedMessage].messages addObject:messageView];
I checked In few of the iOS devices it is being crashed.

[2020-08-12 18:15] isadon commented on #65
Really won't be able to investigate for now but you can try to debug why messageView is nil which it shouldn't be. I would put a breakpoint at line 4 and start tracing the stack trace upwards.

[2020-10-18 07:54] iori57 opened #66 "Possible to animate title/body text?"
I'm trying to create a top overlay similar to iOS native callkit green bar when there's ongoing call. Up to a point where it looks pretty similar however I couldn't find a way to animate the text so that it fades in and out just like the callkit bar. Is it possible to do that with the current version (I'm on v3.0.3)?

Thanks, this is a great library!

[2020-10-18 15:42] isadon commented on #66
Hi. Thanks for the feedback. Do you have a gif of what you currently have so far so that I can see what is left to do in what you are trying to accomplish?

[2020-10-18 22:00] iori57 commented on #66
Hi, yes here's a youtube video showing what I trying to accomplish: https://youtu.be/JGJNN5VeOdw?t=1623 (start at 27:03 if the link is not working). We are trying to show the native callkit green bar at the top when the app is in foreground - a use case is when there's an on hold ongoing sim call, we would like the user to be able to click on the green bar to go back to the call, which wouldn't sh

[2020-10-18 22:25] isadon commented on #66
As per this in the README:

[code]

Set yourself up as a delegate of RMController and then in the callback:

[code]

Can you try that and see if it works? If not you can modify `RMControllerDelegate` to call back with a didPresent method..

[2020-10-18 23:35] iori57 commented on #66
Sorry just started learning iOS and swift, seems like titleLabel is private and I am not sure if there's something obvious I need to do to access it from the message inside func customize(message: RMessage) ?

[2020-10-26 21:26] isadon commented on #66
@iori57 the titleLabel isn't private for the purposes of setting the text on it. You can go ahead and set the text on it..

[2020-11-12 17:20] #65 closed, assigned to nobody

[2020-12-11 16:47] #66 closed, assigned to nobody

[2021-01-31 14:24] martin072 commented on #62
Hi, I still see the errors  with 2.3.4.. Many app crashes with the following debug info:

[code]

[2021-01-31 17:15] isadon commented on #62
@martin072 What iOS version are you testing with?

[2021-01-31 18:49] martin072 commented on #62
I am receiving crash reports from various users. All of them are iOS 14.x with the most recent report for iOS 14.3
I don’t know if it helps, but my project is in Objective C

[2021-01-31 19:54] isadon commented on #62
Can you reproduce the crashes yourself if you run on a fresh project with iOS14?

[2021-01-31 21:24] martin072 commented on #62
No, that is the issue. It works fine on all my tests and devices. It’s just that some users report the app crashes. Totally random. I am not able to reproduce it.

[2022-04-12 03:40] dasoga opened #67 "Swift 5 compatibility - Apple silicion M1 chip"
Hi

Any plans to update this to work on M1 - Apple silicon chip?

thanks!

[2022-04-12 15:53] isadon commented on #67
@dasoga What current issues are you seeing?

[2022-04-12 23:12] dasoga commented on #67
This is the main issue @donileo

<img width="1512" alt="Screen Shot 2022-04-12 at 18 12 19" src="https://user-images.githubusercontent.com/11412369/163069236-2e17ca39-e5d1-47a5-aa2a-4e2ef39225bf.png">

[2022-04-12 23:26] dasoga commented on #67
Solved with this config
Thanks @donileo
<img width="1512" alt="Screen Shot 2022-04-12 at 18 24 51" src="https://user-images.githubusercontent.com/11412369/163070516-7bb885fb-d257-4a9d-8a43-1ddc58ba3b7b.png">

[2022-04-13 22:06] isadon commented on #67
I'll try to see what needs to be done for this but the issue lies on HexColors which hasn't been updated in quite some time.